gramine-tdx/subprojects/.wraplock
test/sharedgl
gramine-tdx/CI-Examples/gl-testing/helloworld
gramine-tdx/CI-Examples/x11-forwarding/helloworld
x11-test/host-proxy
x11-test/main
scripts/x11-shm-proxy/test_x
gramine-tdx/CI-Examples/graphics/glxgears-dev/helloworld-vsock.c
gramine-tdx/CI-Examples/graphics/x11-tools/multi-thread/x11_multithread_test
gramine-tdx/CI-Examples/graphics/supertuxkart/home/adil/supertuxkart/config-0.10
gramine-tdx/CI-Examples/graphics/supertuxkart/home/adil/.cache/supertuxkart/cached-textures/hd/textures
gramine-tdx/CI-Examples/graphics/supertuxkart/home/santosh/supertuxkart/config-0.10
gramine-tdx/CI-Examples/graphics/supertuxkart/home/santosh/.cache/supertuxkart/cached-textures/hd/textures
gramine-tdx/CI-Examples/graphics/outlast/*
gramine-tdx/CI-Examples/graphics/bastion/Bastion
gramine-tdx/CI-Examples/graphics/bastion/bastion_*
*.trace*
*.log
gramine-tdx/CI-Examples/graphics/psy/*
gramine-tdx/CI-Examples/graphics/minetest/luanti*
gramine-tdx/CI-Examples/graphics/minetest/root/*
# gramine-tdx/CI-Examples/graphics/quake2/quake2_bin*
gramine-tdx/CI-Examples/graphics/quake2/root/*

.cache/

scripts/x11-shm-proxy/test
scripts/x11-shm-proxy/test_advanced
scripts/x11-shm-proxy/.vscode
scripts/x11-shm-proxy/server
helper/ubuntu-vm-init.cfg
helper/ubuntu-vm-init.iso
scripts/x11-shm-proxy/test_gl
scripts/x11-shm-proxy/test_window
scripts/x11-shm-proxy/tests/test
scripts/x11-shm-proxy/tests/test_advanced
scripts/x11-shm-proxy/tests/test_get_visuals
scripts/x11-shm-proxy/tests/test_default_visual
scripts/x11-shm-proxy/tests/test_match_visuals
scripts/x11-shm-proxy/tests/test_put_image
scripts/x11-shm-proxy/tests/test_put_image_roundtrip
scripts/x11-shm-proxy/got.bin
scripts/x11-shm-proxy/orig.bin
scripts/x11-shm-proxy/tests/test_create_free_gc
gramine-tdx/CI-Examples/graphics/quake-2/yquake2/
scripts/.vscode
scripts/x11-shm-proxy-threads/test-handles
scripts/x11-logger/libx11_interceptor.so
scripts/x11-shm-proxy-threads/glx_instrument
scripts/x11-shm-proxy-threads/test_handles
scripts/x11-shm-proxy-threads/libx11log.so
scripts/x11-shm-proxy-threads/test_glx_client
align.sh
run_hello_world.sh
.cache/clangd/index
.vscode
tiny_riscv.s
build
scripts/x11-proxy/archive/host-proxy
gramine-tdx/CI-Examples/graphics/egl/glxg
gramine-tdx/CI-Examples/graphics/egl/log
gramine-tdx/CI-Examples/graphics/egl/home/santosh/.cache/mesa_shader_cache_db
gramine-tdx/CI-Examples/graphics/triangle/home/adil/.cache/mesa_shader_cache_db
gramine-tdx/CI-Examples/graphics/triangle/log_triangle.txt
scripts/archive/x11-proxy/archive/host-proxy
scripts/archive/x11-shm-proxy-threads/glx_instrument
scripts/archive/x11-shm-proxy-threads/libx11log.so
scripts/egl-twoproc/archive/egl_hook_export_fd.so
scripts/egl-twoproc/bypass-egl.o
scripts/egl-twoproc/bypass-egl-check.o
scripts/egl-twoproc/egl_hook.so
scripts/archive/input-redirect/libsdlintercept.so
scripts/archive/input-redirect/client_app1
scripts/archive/input-redirect/server_responder
scripts/archive/input-redirect/test
scripts/archive/input-redirect/test.c
scripts/input-redirect-robust/client_app1
scripts/input-redirect-robust/libsdlintercept.so
scripts/input-redirect-robust/server_responder
scripts/input-redirect-robust/test
scripts/input-redirect-robust/test.c
scripts/input-redirect-robust/microbench_client
gramine-tdx/CI-Examples/graphics/quake2/log
gramine-tdx/CI-Examples/graphics/quake2/log_gramine
gramine-tdx/CI-Examples/graphics/quake2/log_gramine_trace
gramine-tdx/CI-Examples/graphics/triangle
gramine-tdx/CI-Examples/graphics/spd
gramine-tdx/CI-Examples/graphics/freeciv
gramine-tdx/CI-Examples/graphics/sigabrt-glxgears/glxg
gramine-tdx/CI-Examples/graphics/x11-tools/multi-thread/home/adil/.cache/mesa_shader_cache_db
gramine-tdx/CI-Examples/multi-thread/thread-rwlock
gramine-tdx/CI-Examples/multi-thread/thread-stress
gramine-tdx/CI-Examples/multi-thread/thread-tls
gramine-tdx/thread-rwlock.manifest.template
