# Copyright (C) 2023 Gramine contributors
# SPDX-License-Identifier: BSD-3-Clause

# Hello World manifest file example

libos.entrypoint = "/x11_multithread_test"
loader.log_level = "{{ log_level }}"

loader.env.LD_LIBRARY_PATH = "/lib:/usr/lib:/usr/lib/x86_64-linux-gnu:/lib/x86_64-linux-gnu"
loader.env.LD_PRELOAD = "./egl_hook.so"
loader.env.HOME = "/home/adil"
loader.env.USER = "adil"
loader.env.DISPLAY="2:0"
loader.env.IVSHMEM_GRAMINE_VM="1"
# loader.env.LIBGL_ALWAYS_SOFTWARE="1"
#loader.env.SGL_NETWORK_ENDPOINT="192.168.12.112:6000"
# loader.env.Xauthority = "/home/gramine/.Xauthority"

loader.insecure__use_cmdline_argv = true
loader.insecure__use_host_env = true

fs.mounts = [
  # General libraries and hooks
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  { path = "/usr/lib/", uri = "dev:/usr/lib/" },
  { path = "/usr/lib/x86_64-linux-gnu", uri = "file:/usr/lib/x86_64-linux-gnu" },
  { path = "/egl_hook.so", uri = "file:/root/gramine-tdx-testing/gramine-tdx/CI-Examples/graphics/egl/egl_hook.so" },
  { path = "/hook.so", uri = "file:/root/gramine-tdx-testing/shared_objects/hook/hook.so" },

  # GBM driver
  { path = "/usr/lib/x86_64-linux-gnu/gbm/dri_gbm.so", uri = "file:/usr/lib/x86_64-linux-gnu/gbm/dri_gbm.so" },

  # Config files + Mesa shader cache
  { path = "/etc/ld.so.cache", uri = "file:/etc/ld.so.cache" },
  { path = "/sys", type = "chroot", uri = "file:/sys" },
  { path = "/sys/dev", type = "chroot", uri = "file:/sys/dev"},
  { path = "/sys/devices", type = "chroot", uri = "file:/sys/devices"},
  { path = "/sys/bus/pci", type = "chroot", uri = "file:/sys/bus/pci"},

  { path = "/x11_multithread_test", uri = "file:x11_multithread_test" },

  # { path = "/usr/lib/libGL.so.1", uri = "file:/home/adil/Projects/gramine-tdx-testing/sharedgl/build/libGL.so.1" },
]

sgx.debug = true
sgx.edmm_enable = {{ 'true' if env.get('EDMM', '0') == '1' else 'false' }}

sgx.trusted_files = [
  "file:glxgears",
  "file:{{ gramine.runtimedir() }}/",
]
