##############################################
# LibOS Settings
##############################################
libos.entrypoint = "./udp"

##############################################
# Loader
##############################################

# Loader configuration
loader.insecure__use_host_env = true
# loader.log_level = "trace"
# Loader environment overrides
loader.env.LD_LIBRARY_PATH = "/lib:/usr/lib:/usr/lib/x86_64-linux-gnu:/lib/x86_64-linux-gnu"
loader.env.HOME = "/home/santosh"
loader.env.USER = "santosh"
loader.env.DISPLAY = "2:0"

##############################################
# Core mounts
##############################################
##############################################
# Filesystem Mounts (ALL in one array)
##############################################

fs.mounts = [
  # Core system dirs
  { path = "/lib", uri = "file:/home/santosh/santosh/gramine-tdx-testing/gramine-tdx/built-debug/lib/x86_64-linux-gnu/gramine/runtime/glibc" },
  { path = "/usr/lib", uri = "file:/usr/lib" },
  { path = "/usr/lib/x86_64-linux-gnu", uri = "file:/usr/lib/x86_64-linux-gnu" },
  { path = "/lib/x86_64-linux-gnu", uri = "file:/lib/x86_64-linux-gnu" },
]
sgx.debug = true
sgx.edmm_enable = {{ 'true' if env.get('EDMM', '0') == '1' else 'false' }}

sgx.trusted_files = [
  "file:./glxg",
  "file:{{ gramine.runtimedir() }}/",
]

