# Copyright (C) 2023 Gramine contributors
# SPDX-License-Identifier: BSD-3-Clause

# Hello World manifest file example

libos.entrypoint = "/thread-stress"
loader.log_level = "{{ log_level }}"
# loader.log_level = "trace"

loader.env.LD_LIBRARY_PATH = "/lib:/usr/lib:/usr/lib/x86_64-linux-gnu:/lib/x86_64-linux-gnu"
loader.env.HOME = "/home/adil"
loader.env.USER = "adil"
loader.env.DISPLAY="2:0"
loader.env.IVSHMEM_GRAMINE_VM="1"
#loader.env.SGL_NETWORK_ENDPOINT="192.168.12.112:6000"

loader.insecure__use_cmdline_argv = true
loader.insecure__use_host_env = true

fs.mounts = [
  # General libraries and hooks
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  { path = "/thread-stress", uri = "file:thread-stress" },
]
